.tabs--navigation {
  width: 100%;

  &::v-deep {
    .v-item-group {
      width: 100%;
    }

    .v-slide-group__prev,
    .v-slide-group__next {
      display: none !important;
    }

    .v-slide-group__wrapper {
      position: relative;
      .v-slide-group__content {
        width: 100%;
        position: relative;
        .v-tab {
          min-width: 0px;
        }
      }
    }
  }
}
