@import "~@/sass/global.scss";
@import "~@/sass/list-mouseright.scss";

.file--system {
  &__item {
    font-size: 15px;
    display: flex;
    align-items: center;
    // padding: 5px 13px 5px 10px;
    padding: 2.5px 13px 2.5px 10px;
    color: #b9bbc1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__rename {
    min-width: 0;
  }

  &-hidden {
    color: rgb(127, 127, 127) !important;
  }

  &__more::before {
    font-size: 14px;
  }

  &__changed {
    color: rgb(121, 184, 255);

    .file--system__more::before {
      content: "M";
    }
  }
  &__new {
    color: rgb(52, 208, 88);

    .file--system__more::before {
      content: "U";
    }
  }
  &__changed-modified {
    color: #e0bd96;

    .file--system__more::before {
      content: "M";
    }
  }
  &__new-modified {
    color: #33984a;

    .file--system__more::before {
      content: "U";
    }
  }
  &__changed.file--system-folder .file--system__more::before,
  &__new.file--system-folder .file--system__more::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: currentColor;
    opacity: 0.7;
  }

  &__prepend {
    transform: translateY(-25%);
  }
  &__icon {
    margin-right: 8px;
    transform: translateY(-25%);

    img {
      width: 24px;
      height: 24px;
      margin: auto;
      display: block;
      object-fit: cover;
      margin-top: 3px;
    }
  }
  &__prepend,
  &__icon {
    font-size: 20px;
    width: 1em;
    height: 1em;
    display: inline-block;
    > * {
      font-size: inherit;
    }
  }
  &__prepend {
    // width: 24px;
    // height: 24px;
    margin-right: 4px;
    > span {
      display: block;
      width: 1em;
      height: 1em;
    }
  }
}
