@mixin file-object($enable-git: false) {
  font-size: 15px;
  // padding: 5px 13px 5px 10px;
  padding: 2.5px 8px 2.5px 7px;
  // color: #b9bbc1;
  color: #4a4a49;
  &.dark {
    // color: #b9bbc1;
    color: #fff;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @if ($enable-git == true) {
    &:after {
      font-size: 14px;
      position: absolute;
      right: calc(32px + 13px - 0.5em);
    }

    &.ignored {
      color: rgb(150, 150, 150);
      &.dark {
        color: rgb(127, 127, 127) !important;
      }
    }

    /* {*modified} */
    &.star-modified {
      color: rgb(75, 156, 248);
      &.dark {
        color: rgb(121, 184, 255);
      }

      &:after {
        content: "M";
      }
    }
    &.modified {
      color: #dda769;
      &.dark {
        color: #e0bd96;
      }

      &:after {
        content: "M";
      }
    }
    /* {/*modified} */

    &.star-deleted {
      color: $red;
      text-decoration: underline;
    }
    &.deleted {
    }

    &.star-undeleted {
    }
    &.undeleted {
    }

    &.star-added {
      color: rgb(29, 211, 71);
      &.dark {
        color: rgb(52, 208, 88);
      }

      &:after {
        content: "U";
      }
    }
    &.added {
      color: rgb(29, 211, 71);
      &.dark {
        color: rgb(52, 208, 88);
      }

      &:after {
        content: "U";
      }
    }

    &.loading {
      &:after {
        content: "loading";
      }
    }

    &.is-folder {
      &.star-modified,
      &.star-added {
        &.actions::before {
          content: "fwgwggew";
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: currentColor;
          opacity: 0.7;
        }
      }
    }
  }
}
