@mixin icon-file {
  width: 24px;
  height: 24px;
  margin: auto;
  display: block;
  object-fit: cover;
  margin-right: 4px;

  &.rename-float {
    position: relative;
    z-index: 101;
  }
  &:first-child {
    margin-left: (20px - 5px);
  }
}

@mixin name-changer($disabled: false) {
  color: currentColor;
  font: inherit;

  @if ($disabled == false) {
    &__backboardd {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($color: #000000, $alpha: 0.5);
      z-index: 100;
    }
  }

  &__input-group {
    position: relative;
    z-index: (999999998 + 1);
    font: inherit;
    font-size: inherit;
    color: currentColor;
    font-weight: inherit;
    display: block;
    width: 100%;

    input {
      all: initial;
      font: inherit;
      font-size: inherit;
      color: currentColor;
      font-weight: inherit;
      background-color: #eee;
      color: #000;
      &.dark {
        background-color: #30393f;
        color: inherit;
      }
      display: block;
      width: 100%;
      border-left: 2px solid #1976d2;
    }
  }

  @if ($disabled == false) {
    &__error {
      position: absolute;
      font-size: 12px;
      color: #fff;
      top: 100%;
      display: block;
      width: calc(100% + 4px);
      background-color: rgba($color: #b32a26, $alpha: 0.7);
      padding: 5px 3px;
      border: 2px solid #b32a26;
      white-space: pre-wrap;
      + input {
        border: 2px solid #b32a26;
        border-bottom: 0;
      }
    }
  }
}
