// app global css in SCSS form
@import "./addons/spacing";
@import "./addons/typography";
@import "./addons/size";
@import "./addons/display";

pwa-toast {
  z-index: 9999;
}

.full-width {
  min-width: 0;
}

.inner-bottom-auto .q-dialog__inner {
  bottom: auto;
}

.max-width-dialog .q-dialog__inner {
  max-width: 600px;
  margin: {
    left: auto;
    right: auto;
  }
}
