// app global css in SCSS form
@import "./addons/spacing";
@import "./addons/typography";
@import "./addons/size";
@import "./addons/display";

pwa-toast {
  z-index: 9999;
}

.full-width {
  min-width: 0;
}

.inner-bottom-auto .q-dialog__inner {
  bottom: auto;
}

.max-width-dialog .q-dialog__inner {
  max-width: 600px;
  margin: {
    left: auto;
    right: auto;
  }
}

.never-scroll {
  overflow: visible;
}

::-webkit-scrollbar {
  width: 0; // 8px;;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(231, 231, 231, 0.1);
  transition: background-color 0.33s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(231, 231, 231, 0.3);
}

*:not(input, textarea, [contentediable="true"]) {
  user-select: none;
}

* {
  scrollbar-width: none;
}

.no-min-height {
  min-height: 0;
}

.q-item__section--side > .q-icon {
  font-size: 1.3em;
}
