@mixin renderProp($prefix, $index) {
  &t-#{$index},
  &y-#{$index},
  &a-#{$index} {
    #{$prefix}-top: ($index * 4px) !important;
  }
  &r-#{$index},
  &x-#{$index},
  &a-#{$index} {
    #{$prefix}-right: ($index * 4px) !important;
  }
  &b-#{$index},
  &y-#{$index},
  &a-#{$index} {
    #{$prefix}-bottom: ($index * 4px) !important;
  }
  &l-#{$index},
  &x-#{$index},
  &a-#{$index} {
    #{$prefix}-left: ($index * 4px) !important;
  }
}

@for $index from 0 to 10 {
  //padding
  .q-p {
    @include renderProp($prefix: "padding", $index: $index);
  }

  //margin
  .q-m {
    @include renderProp($prefix: "margin", $index: $index);

    &x-n#{$index} {
      margin: {
        left: ($index * -4px) !important;
        right: ($index * -4px) !important;
      }
    }
    &l-n#{$index} {
      margin: {
        left: ($index * -4px) !important;
      }
    }
    &r-n#{$index} {
      margin: {
        right: ($index * -4px) !important;
      }
    }
    &y-n#{$index} {
      margin: {
        top: ($index * -4px) !important;
        bottom: ($index * -4px) !important;
      }
    }
    &t-n#{$index} {
      margin: {
        top: ($index * -4px) !important;
      }
    }
    &b-n#{$index} {
      margin: {
        bottom: ($index * -4px) !important;
      }
    }
  }
}
